.body {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 140px 61px;
}
.content {
  background-color: #ffffff;
  width: 1200px;
  padding: 40px 85px;
  height: 435 px;
  margin-top: 24px;
}
.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 450px;
}
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: table-row;
}
.header {
  font-size: 18px;
  font-weight: bold;
}
.cell {
  display: table-cell;
  padding: 5px;
}
