@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 


body {
  color: rgb(var(--foreground-rgb));
  background: #F6F6F6;
  font-family:  'Poppins', sans-serif;
} 

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-purple-500 hover:text-white;
  }

  .navbar__link:hover {
    color: #CF60F5;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #CF60F5;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.prev {
  background: #eee;
  position: absolute;
  left:0;
}

.next {
  background: #007bff;
  color: #fff;
  position: absolute;
  right:0;
}