@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #F6F6F6;
} 

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-purple-500 hover:text-white;
  }

  .navbar__link:hover {
    color: #CF60F5;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #CF60F5;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0; 
  top: 0;
  z-index: 1;

  display: flex;
  width: 15%;
  align-items: center; 
  justify-content: center;
  
  border: 0;
  background: none;
  padding: 0;

  text-align: center;
  color: black;
  opacity: 0.5;

  transition: opacity 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover {
  color: black;
  text-decoration: none;
  opacity: 0.9;
  outline: none; 
} 

.button:focus {
  color: black;
  text-decoration: none;
  opacity: 0.9;
  outline: none;
}
.button:focus-visible {
  transition: none;
}

.prev {
  background: #eee;
  position: absolute;
  left:0;
}

.next {
  background: #007bff;
  color: #fff;
  position: absolute;
  right:0;
}