@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* font-family:  'Poppins', sans-serif; */
  } 
}

/* @layer utilities {
  .primary {
    color: #218c20;
  }
} */





