
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.header_top__icon_wrapper {
  cursor: pointer;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding: 6px;
  font-size: 14px;
}
.header_top__icon_wrapper:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(168 85 247 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.navbar__link:hover {
    color: #CF60F5;
    transition: all 0.4s;
  }
.navbar__link::after {
    position: absolute;
    content: "";
    background-color: #CF60F5;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
.navbar__link:hover::after {
    scale: 1;
  }
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-10 {
  bottom: 2.5rem;
}
.left-0 {
  left: 0px;
}
.left-\[30px\] {
  left: 30px;
}
.right-0 {
  right: 0px;
}
.right-2 {
  right: 0.5rem;
}
.top-0 {
  top: 0px;
}
.top-3 {
  top: 0.75rem;
}
.top-\[50\%\] {
  top: 50%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-\[18px\] {
  margin-bottom: 18px;
}
.mb-\[200px\] {
  margin-bottom: 200px;
}
.mb-\[28px\] {
  margin-bottom: 28px;
}
.mb-\[70px\] {
  margin-bottom: 70px;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mt-\[50px\] {
  margin-top: 50px;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-8 {
  height: 2rem;
}
.h-\[130px\] {
  height: 130px;
}
.h-\[150px\] {
  height: 150px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[300px\] {
  height: 300px;
}
.h-\[500px\] {
  height: 500px;
}
.h-\[522p\] {
  height: 522p;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.max-h-\[230px\] {
  max-height: 230px;
}
.max-h-\[290px\] {
  max-height: 290px;
}
.max-h-\[418px\] {
  max-height: 418px;
}
.w-8 {
  width: 2rem;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[1020px\] {
  width: 1020px;
}
.w-\[1040px\] {
  width: 1040px;
}
.w-\[137px\] {
  width: 137px;
}
.w-\[150px\] {
  width: 150px;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[290px\] {
  width: 290px;
}
.w-\[300px\] {
  width: 300px;
}
.w-\[320px\] {
  width: 320px;
}
.w-\[510px\] {
  width: 510px;
}
.w-\[540px\] {
  width: 540px;
}
.w-\[70px\] {
  width: 70px;
}
.w-\[80px\] {
  width: 80px;
}
.w-\[845px\] {
  width: 845px;
}
.w-\[98\%\] {
  width: 98%;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-\[150px\] {
  max-width: 150px;
}
.max-w-\[200px\] {
  max-width: 200px;
}
.max-w-\[250px\] {
  max-width: 250px;
}
.max-w-\[290px\] {
  max-width: 290px;
}
.max-w-\[312px\] {
  max-width: 312px;
}
.flex-1 {
  flex: 1 1 0%;
}
.-translate-y-1 {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-\[50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.place-content-center {
  place-content: center;
}
.place-items-center {
  place-items: center;
}
.content-center {
  align-content: center;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-\[110px\] {
  gap: 110px;
}
.gap-\[130px\] {
  gap: 130px;
}
.gap-x-\[150px\] {
  -moz-column-gap: 150px;
       column-gap: 150px;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(5rem * var(--tw-space-x-reverse));
  margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-9 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.25rem * var(--tw-space-x-reverse));
  margin-left: calc(2.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-\[43px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(43px * var(--tw-space-x-reverse));
  margin-left: calc(43px * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.space-y-\[61px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(61px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(61px * var(--tw-space-y-reverse));
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.justify-self-center {
  justify-self: center;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-r-8 {
  border-right-width: 8px;
}
.border-none {
  border-style: none;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-x-\[\#F1F1F1\] {
  --tw-border-opacity: 1;
  border-left-color: rgb(241 241 241 / var(--tw-border-opacity));
  border-right-color: rgb(241 241 241 / var(--tw-border-opacity));
}
.border-y-\[\#F1F1F1\] {
  --tw-border-opacity: 1;
  border-top-color: rgb(241 241 241 / var(--tw-border-opacity));
  border-bottom-color: rgb(241 241 241 / var(--tw-border-opacity));
}
.border-r-slate-300 {
  --tw-border-opacity: 1;
  border-right-color: rgb(203 213 225 / var(--tw-border-opacity));
}
.bg-\[\#EFEFEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 239 / var(--tw-bg-opacity));
}
.bg-\[\#F1F1F1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity));
}
.bg-\[\#F6F6F6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.bg-\[\#efeeeea2\] {
  background-color: #efeeeea2;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-fuchsia-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 208 254 / var(--tw-bg-opacity));
}
.bg-fuchsia-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(232 121 249 / var(--tw-bg-opacity));
}
.bg-fuchsia-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(217 70 239 / var(--tw-bg-opacity));
}
.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.object-right {
  -o-object-position: right;
     object-position: right;
}
.p-10 {
  padding: 2.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-\[10px\] {
  padding: 10px;
}
.p-\[20px\] {
  padding: 20px;
}
.p-\[50px\] {
  padding: 50px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-\[30px\] {
  padding-bottom: 30px;
}
.pb-\[49px\] {
  padding-bottom: 49px;
}
.pb-\[50px\] {
  padding-bottom: 50px;
}
.pb-\[69px\] {
  padding-bottom: 69px;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-\[180px\] {
  padding-left: 180px;
}
.ps-1 {
  padding-inline-start: 0.25rem;
}
.ps-10 {
  padding-inline-start: 2.5rem;
}
.ps-4 {
  padding-inline-start: 1rem;
}
.ps-\[57px\] {
  padding-inline-start: 57px;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pt-\[100px\] {
  padding-top: 100px;
}
.pt-\[39px\] {
  padding-top: 39px;
}
.pt-\[50px\] {
  padding-top: 50px;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[26px\] {
  font-size: 26px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-thin {
  font-weight: 100;
}
.uppercase {
  text-transform: uppercase;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-blackish {
  --tw-text-opacity: 1;
  color: rgb(27 27 27 / var(--tw-text-opacity));
}
.text-fuchsia-400 {
  --tw-text-opacity: 1;
  color: rgb(232 121 249 / var(--tw-text-opacity));
}
.text-fuchsia-500 {
  --tw-text-opacity: 1;
  color: rgb(217 70 239 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-purple-400 {
  --tw-text-opacity: 1;
  color: rgb(192 132 252 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop\:px-5::backdrop {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.hover\:bg-blackish:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity));
}

.hover\:bg-fuchsia-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(250 232 255 / var(--tw-bg-opacity));
}

.hover\:bg-fuchsia-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 208 254 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-fuchsia-500:hover {
  --tw-text-opacity: 1;
  color: rgb(217 70 239 / var(--tw-text-opacity));
}

.hover\:drop-shadow-xl:hover {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px) {

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:w-\[300px\] {
    width: 300px;
  }

  .sm\:max-w-\[350px\] {
    max-width: 350px;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:place-items-start {
    place-items: start;
  }

  .sm\:justify-self-center {
    justify-self: center;
  }

  .sm\:rounded-none {
    border-radius: 0px;
  }

  .sm\:bg-transparent {
    background-color: transparent;
  }

  .sm\:p-0 {
    padding: 0px;
  }

  .sm\:pb-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {

  .md\:left-\[70px\] {
    left: 70px;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:object-left-bottom {
    -o-object-position: left bottom;
       object-position: left bottom;
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .lg\:pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[44px\] {
    font-size: 44px;
  }
}

@media (min-width: 1280px) {

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:gap-x-20 {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }

  .xl\:gap-y-10 {
    row-gap: 2.5rem;
  }
}


/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/layout.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.buttons {
    display: flex;
    justify-content: space-between;
  }
  
.prev {
    background: #eee;
    position: absolute;
    left:0;
  }
  
.next {
    background: #007bff;
    color: #fff;
    position: absolute;
    right:0;
  }
  .link {
    text-decoration: none;
    color:#3c4b64;
  }
  
  .link:hover {
    text-decoration: none; 
  }

.justify-between {
    justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem; 
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: #fff;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; 
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

/* Header css */
/* 
$header-background: #fff;
$header-link-color: rgba(44, 56, 74, 0.681);
$header-link-color-hover: rgba(44, 56, 74, 0.95);
$header-brand-color: #4f5d73; */

.header {
  background: #fff;

  .header-brand {
    color: #4f5d73;
  }

  .header-navbar {
    min-height: 3rem;

    .header-toggler {
      color: rgba(44, 56, 74, 0.681);
    }

    .header-nav {
      .nav-link {
        color: rgba(44, 56, 74, 0.681);

        &:hover {
          color: rgba(44, 56, 74, 0.95);
        }
      }
    }
  }

  .breadcrumb {
    min-height: 2rem;

    .breadcrumb-item {
      a {
        color: rgba(44, 56, 74, 0.681);

        &:hover {
          color: rgba(44, 56, 74, 0.95);
        }
      }
    }
  }
}

 /* Sidebar  */

:root {
  --sidebar-width: 16rem;
}

.sidebar {
  flex: 0 0 var(--sidebar-width);
  width: var(--sidebar-width);
  background: #3c4b64;
  color: rgba(255, 255, 255, 0.6);
  transition: margin-left 0.15s, margin-right 0.15s, box-shadow 0.075s, transform 0.15s, width 0.15s, z-index 0s ease 0.15s;
  z-index: 1030;

  & + .wrapper {
    padding-left: var(--sidebar-width);
    transition: padding 0.15s;
  }

  .sidebar-brand {
    flex: 0 0 4em;
    background: rgba(0, 0, 21, 0.2);
  }

  .sidebar-nav {
    overflow-x: hidden;
    overflow-y: auto;

    .nav-title {
      font-size: 80%;
    }

    .nav-link {
      color: rgba(255, 255, 255, 0.6);

      &:hover {
        color: rgba(255, 255, 255, 0.87);
        text-decoration: none;
        background: rgba(255, 255, 255, 0.05);
      }

      .nav-icon {
        flex: 0 0 4rem;
      }
    }

    .nav-group {
      &.show {
        background: rgba(0, 0, 0, 0.2);
      }

      .nav-link {
        &:focus {
          box-shadow: none;
        }

        .nav-chevron {
          transition: transform 0.15s;
        }

        &.collapsed {
          .nav-chevron {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .sidebar-toggler {
    flex: 0 0 3em;
    background: rgba(0, 0, 21, 0.2);
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      color: rgba(255, 255, 255, 0.87);
    }

    .sidebar-toggler-chevron {
      transition: transform 0.15s;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.show) {
      margin-left: calc(-1 * var(--sidebar-width));
    }

    & + .wrapper {
      padding-left: calc(-1 * var(--sidebar-width));
    }
  }

  @include media-breakpoint-up(md) {
    &.sidebar-narrow {
      .sidebar-toggler {
        .sidebar-toggler-chevron {
          transform: rotate(180deg);
        }
      }

      &:not(:hover) {
        --sidebar-width: 4rem;

        .sidebar-brand {
          .sidebar-brand-full {
            display: none !important;
          }

          .sidebar-brand-narrow {
            display: flex !important;
          }
        }

        .nav-title, .nav-group-items {
          display: none;
        }

        & + .wrapper {
          --sidebar-width: 4rem;
        }
      }
    }

    &.md-hide {
      margin-left: calc(-1 * var(--sidebar-width));

      & + .wrapper {
        padding-left: calc(-1 * var(--sidebar-width));
      }
    }
  }
}

.sidebar-overlay {
  z-index: 1025;
}

/* Admin CSS  */

.footer {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerText {
  font-size: 17px;
}
.dodyContainer {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 67px 61px;
}


/* Geneology CSS */

.productTable {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 67px 61px;
}
.content {
  background-color: #ffffff;
  width: 100%;
  padding: 40px 85px;
  height: 700px;
}
.unilevel {
  background-color: #ffffff;
  width: 100%;
  padding: 40px 85px;
  height: 700px;
}
.titleAndBtn {
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-weight: 700;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.exportBtn {
  background-color: #cf60f5;
  align-items: center;
  width: 118px;
  height: 30px;
  color: #fff;
  border-radius: 20px;
}
.table {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}
.headerText {
  font-weight: 600;
  font-size: 16px;
}
.action {
  display: flex;
  gap: 10px;
}

/* Product Module */

.productTable {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 67px 61px;
}
.content {
  background-color: #ffffff;
  width: 100%;
  padding: 40px 85px;
  height: 700px;
}
.titleAndBtn {
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-weight: 700;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.exportBtn {
  background-color: #cf60f5;
  align-items: center;
  width: 118px;
  height: 30px;
  color: #fff;
  border-radius: 20px;
}
.table {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}
.headerText {
  font-weight: 600;
  font-size: 16px;
}
.action {
  display: flex;
  gap: 10px;
}
.description {
  width: 300px;
}

 /* Coupon CSS */

 .body {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 140px 61px;
}
.content {
  background-color: #ffffff;
  width: 1200px;
  padding: 40px 85px;
  height: 435 px;
  margin-top: 24px;
}
.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 450px;
}
.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: table-row;
}
.header {
  font-size: 18px;
  font-weight: bold;
}
.cell {
  display: table-cell;
  padding: 5px;
}

   /* Add Product  */

   .addProducts {
    background-color: #f6f6f6;
    background-size: cover;
    padding: 28px 61px 67px 61px;
  }
  .content {
    background-color: #f0f0f0;
    width: 100%;
    padding: 40px 85px;
    border-width: 1px;
    border-color: #000;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    color: #cf60f5;
    margin-bottom: 30px;
  }
  .computed {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .text {
    font-size: 16px;
  }
  .hoverButton {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .hoverButton:hover {
    background-color: #2980b9;
  }
  