.footer {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerText {
  font-size: 17px;
}
.dodyContainer {
  background-color: #f6f6f6;
  background-size: cover;
  padding: 28px 61px 67px 61px;
}
